* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background:#03045e;
  }
header h1 {
    color: #03045e; 
    font-size: 18px; 
    text-transform: uppercase;
    margin: 0; 
}
  nav {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 80px;
    overflow: hidden;
    transition: width 0.2s linear;
    z-index: 100;
  }
  .logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px;
  }
  .logo img {
    width: 45px;
    height: 45px;
    margin-left: 15px;
  }
  .logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .nav-a  {
    color: #03045e;
    position: relative;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
    height: 70px;
  }
  .fas {
    position: absolute;
    width: 70px;
    font-size: 20px;
    text-align: center;
  }
  
  .nav-item {
    position: relative;
    margin-top: 20px;
    margin-left: 70px;
    text-align: center;
  }
  
  a:hover {
    background: #eee;
  }
  
  nav:hover {
    width: 280px;
    transition: all 0.5s ease;
  }
  main {
    margin-left: 80px;
  }
  .principale{
    display: flex;
    align-items: center;
  }
  .home {
    flex: 3;
    display: flex;
    align-items: center;
    min-height: 700px;
    background: url(img/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
  }
  .home .Welcome {
    padding-left: 60px;
    color: #fff;
  }
  .home .Welcome h3 {
    font-size: 50px;
  }
  .home .Welcome h3 span {
    color: #03045e;
  }
  .home .Welcome p {
    color: #ffffff; 
    padding: 15px; 
    max-width: 600px; 
    font-size: 20px;
    line-height: 1.5;
  }
   .btn{
    display: inline-block;
    max-width: 200px;
    border-radius: 20px;
    background: #03045e;
    color:#00b8df ;
    font-size: 15px;
    padding:14px 55px ;
  }
  .coursesS{
    width: 960px;
  }
  .courses{
    flex: 3;
    background-color: #0096c7;
    padding: 70px 30px 30px;
    border-radius: 15px;
    margin: 20px;
    width: 900px;
    height: 820px;
  }
  .eh3{
    text-align: center;
    font-size:30px ;
    color: #ffffff;
    margin:30px 300px  0px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px; 
  }
  .course img {
    width: 300px;
    float: left;
    border-radius: 10px;
    margin-right: 15px;
  }
  .course{
    color: #ffffff;
  
    margin-bottom: 40px;
    width: 70%;
    overflow: hidden;
    width: 640px;
  }
  .course h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #03045e;
  }
  .course a {
    display: inline-block;
    max-width: 200px;
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 14px;
    background-color: #ffffff;
    color: #03045e;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  .course a:hover {
    background-color: #0056b3;
  }
  .course article{
    font-size: 16px;
    text-align: justify;
  }
  .promotions {
  position: fixed;
  flex: 1;
  background-color: white;
  padding: 10px;
  margin-right: 20px;
  margin-top: 65px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  height: 820px; 
  width: 200px;
}
.promotions h3 {
  background-color: #00b8df;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  z-index: 1;
  position: relative;
  text-align: center;
}
.promotions-content {
  position: absolute;
  width: 190px;
  animation: scrollPromotions 15s linear infinite;
}
.promotion {
  padding-top: 10px ;
  padding-bottom: 10px;
  background: #ffffff; 
}
@keyframes scrollPromotions {
  0% {
      top: 100%;
  }
  100% {
      top: -100%;
  }
}
  #comments {
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    margin: 40px 20px 40px;
  }
  .comment {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    border-left: 3px solid #001a23;
    width: 45%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  } 
  .comment_container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
  }  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
  } 
  .email_input {
    width: 435px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    padding: 10px;
    outline: none;
  }
  .comment_input {
    width: 435px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    padding: 10px;
    outline: none;
    height: 250px;
  } 
  .comment_title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .submitBTN {
    width: 435px;
    background-color: #001f2a;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submitBTN:hover {
    background-color: #03045e;
    color: #e4f8ff;
}
